@charset "UTF-8";
.table-container{
    width: 100%;
}
.title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.search{
    margin-top: 50px;
    margin: 50px auto 0px auto;
    width: 70%;
}
div{
    width: 70%;
    margin: 0 auto;
}
fieldset{
    height: 25px;
    width: 284px;
}
