@charset "UTF-8";
  .table-basic {
    
    width: 70%;
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
  }
  .table-basic th{
    border: 1px solid #000000;
    background-color: #455a64;
    color: white;
    padding: 10px;
    height: 40px;
  }
  .table-basic td{
  border: black solid 1px;
  padding: 10px;
  text-align: center;
  height: 40px;
  }
  .td2{
  background-color: gray;
  }
  .table-basic tr{
	border: black solid 1px;
  }